Repository home-operations/containers, pull requests merged in 2025-09, with the labels that each got.

#754 fix(nzbget): allow setting port / user / pass via env vars
  apps/nzbget/Dockerfile
  apps/nzbget/entrypoint.sh
Labels: app/nzbget, area/apps

#762 fix(qbittorrent): disable auth on new deployments
  apps/qbittorrent/defaults/qBittorrent.conf
Labels: app/qbittorrent, area/apps

#764 ci: post the container size diff to the pull request
  .github/actions/app-tests/run.sh
  .github/actions/container-size-diff/action.yaml
  .github/actions/container-size-diff/container-size-diff.sh
  .github/workflows/app-builder.yaml
  .github/workflows/pull-request.yaml
Labels: app/jbops, app/whisparr, area/github, area/apps

#770 ci: use github-script action for container-size-diff
  .github/actions/container-size-diff/action.yaml
  .github/actions/container-size-diff/container-size-diff.sh
Labels: app/whisparr, area/github, area/apps

#773 fix(nzbget): disable log file
  apps/nzbget/entrypoint.sh
Labels: app/nzbget, area/apps

#783 ci: update container-size-diff action
  .github/actions/container-size-diff/action.yaml
  .renovaterc.json5
  package-lock.json
  package.json
Labels: app/jackett, area/github, area/apps, area/renovate

#813 add pyload-ng container
  apps/pyload-ng/Dockerfile
  apps/pyload-ng/defaults/pyload.cfg
  apps/pyload-ng/docker-bake.hcl
  apps/pyload-ng/entrypoint.sh
  apps/pyload-ng/tests.yaml
Labels: area/apps

#851 feat: Mark nzbhydra2 container as "running in docker"
  apps/nzbhydra2/.dockerenv
Labels: area/apps, app/nzbhydra2
