Repository home-operations/containers, pull requests merged in 2025-05, with the labels that each got.

#436 fix(bazarr): bump to Python 3.13
  .renovaterc.json5
  apps/bazarr/Dockerfile
Labels: area/apps, area/renovate

#446 feat: add nzbhydra2
  .renovaterc.json5
  apps/nzbhydra2/Dockerfile
  apps/nzbhydra2/docker-bake.hcl
  apps/nzbhydra2/entrypoint.sh
  apps/nzbhydra2/tests.yaml
Labels: area/apps, area/renovate

#452 ✨🐘 feat(postgres-init): Add support for UTF-8 database creation
  apps/postgres-init/entrypoint.sh
Labels: app/postgres-init, area/apps

#469 ci: add APP var to bakefiles
  Taskfile.yaml
  apps/actions-runner/docker-bake.hcl
  apps/atuin-server-sqlite/docker-bake.hcl
  apps/bazarr/docker-bake.hcl
  apps/beets/docker-bake.hcl
  apps/cni-plugins/docker-bake.hcl
  apps/deluge/docker-bake.hcl
  apps/emby/docker-bake.hcl
  apps/esphome/docker-bake.hcl
  apps/home-assistant/docker-bake.hcl
  apps/irqbalance/docker-bake.hcl
  apps/it-tools/docker-bake.hcl
  apps/jackett/docker-bake.hcl
  apps/jbops/docker-bake.hcl
  apps/k8s-sidecar/docker-bake.hcl
  apps/lidarr/docker-bake.hcl
  apps/nzbget/docker-bake.hcl
  apps/nzbhydra2/docker-bake.hcl
  apps/opentofu-runner/docker-bake.hcl
  apps/plex/docker-bake.hcl
  apps/postgres-init/docker-bake.hcl
  apps/prowlarr/docker-bake.hcl
  apps/qbittorrent/docker-bake.hcl
  apps/radarr/docker-bake.hcl
  apps/readarr/docker-bake.hcl
  apps/sabnzbd/docker-bake.hcl
  apps/smartctl-exporter/docker-bake.hcl
  apps/sonarr/docker-bake.hcl
  apps/tautulli/docker-bake.hcl
  apps/theme-park/docker-bake.hcl
  apps/transmission/docker-bake.hcl
  apps/webhook/docker-bake.hcl
  apps/whisparr/docker-bake.hcl
Labels: app/actions-runner, app/jbops, app/bazarr, app/k8s-sidecar, app/lidarr, app/deluge, app/atuin-server-sqlite, app/irqbalance, app/cni-plugins, app/esphome, app/opentofu-runner, app/home-assistant, app/nzbget, app/emby, app/it-tools, app/beets, app/radarr, app/prowlarr, app/postgres-init, app/sonarr, app/qbittorrent, app/jackett, app/plex, app/theme-park, app/tautulli, app/smartctl-exporter, app/transmission, app/webhook, app/sabnzbd, app/readarr, app/whisparr, area/taskfile, area/apps, app/nzbhydra2

#473 feat(sabnzbd): adds ENV VAR to configure local_ranges in config.ini
  apps/sabnzbd/entrypoint.sh
Labels: app/sabnzbd, area/apps

#496 feat: upgrade standard alpine base images to 3.22
  .renovaterc.json5
  apps/cni-plugins/Dockerfile
  apps/deluge/Dockerfile
  apps/irqbalance/Dockerfile
  apps/irqbalance/docker-bake.hcl
  apps/jackett/Dockerfile
  apps/lidarr/Dockerfile
  apps/opentofu-runner/Dockerfile
  apps/postgres-init/Dockerfile
  apps/postgres-init/docker-bake.hcl
  apps/prowlarr/Dockerfile
  apps/radarr/Dockerfile
  apps/readarr/Dockerfile
  apps/smartctl-exporter/Dockerfile
  apps/sonarr/Dockerfile
  apps/whisparr/Dockerfile
Labels: app/lidarr, app/deluge, app/irqbalance, app/cni-plugins, app/opentofu-runner, app/radarr, app/prowlarr, app/postgres-init, app/sonarr, app/jackett, app/smartctl-exporter, app/readarr, app/whisparr, area/apps, area/renovate
